button{
    border-radius: .5rem;
    width: 3.5rem;
}

td{
    height: 5rem;
}

.buscar .cabecera_titulo h1{
    margin:0rem;
    text-transform:capitalize;
}

@media (max-width: 405px) {
    .buscar.contenedor {
        width:unset  !important;
    }
}

/* estilos para nuestro barra de informacion. */
.barra_info{
    margin: 1rem;
    box-shadow: -1px 1px 30px rgb(0 0 0 / 0.6);
    max-height: 10rem;
    border-radius: 0.9rem;
}

.barra_info > ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    font-family: monospace;
    font-size: 2rem;
    padding:.4rem;
}

.barra_info > ul > li > p{
    display: flex;
    margin:0rem;
    gap:2rem;
}

.barra_info > ul > li > p > span{
    font-weight: 300;
}

.inmobiliarias_busqueda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 2rem;
    height: 65rem;
}

.inmobiliarias_busqueda .listado_casas_info{
    height: 65rem;
    overflow: auto;
    width: 85rem;
    padding: .9rem;
}

.inmobiliarias_busqueda .listado_casas_info::-webkit-scrollbar:vertical {
    width: .5rem;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info{
    margin: 0 auto;
    width: 100%;
    display: inherit;
    border-radius: 2.9rem;
    box-shadow: 1px 1px 8px rgb( 0 0 0 / .2);
    padding: 2rem;
    font-family:roboto;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info > h2{
    font-weight: 300;
    font-size:1.5rem;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--header h2{
    color:#1c87dcc2;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--header > p{
    font-weight: 200;
    font-size:1.2rem;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body {
    display:flex;
    gap:1rem;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body p{
    font-weight: 200;
    font-size:1.2rem;
    font-family: monospace;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion1 ol{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    padding: 0rem;
    margin: 0rem;
    font-family: roboto;
    column-gap: 1rem;
    align-items: end;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion1 ol > li,
.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion2 > ol > li {
    border-bottom: 1px solid rgb( 0 0 0 / .2);
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion1 ol > li > p,
.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion2 > ol > li > p{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    text-align: right;
    align-items: center;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion1 ol > li > p,
.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion2 > ol > li > p{
    font-family: roboto;
    font-weight: bold;
    color:#1c87dcc2;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion1 ol > li > p span,
.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body div.seccion2 > ol > li > p span{
    font-weight: 300;
    color:rgb( 0 0 0 );
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body .seccion1{
    width: 75rem;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body .seccion2{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.inmobiliarias_busqueda .listado_casas_info section.casa_info div.casa_info--body .seccion2 > ol{
    padding:0rem;
    margin:0rem;
}


.inmobiliarias_busqueda h2.h2-1{
    padding:4rem 0rem .9rem 1rem !important;
    font-size: 3.5rem;
    text-transform: capitalize;
}

.inmobiliarias_busqueda h2.tl{
    font-size:3.5rem;
    padding:3rem 0rem 1rem 0rem;
}

.inmobiliarias_busqueda .secciones{
    display: flex;
    gap: 2rem;
    margin: 0.5rem;
    
}

.inmobiliarias_busqueda .box{
    box-shadow: -1px 0px 13px rgb(0 0 0 / 38%);
    border-radius: .9rem;
    border: 1px solid #0000ff3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inmobiliarias_busqueda .box .box_heading{
    font-size:1.9rem;
}

.inmobiliarias_busqueda .box .btn-success{
    background-color: rgb(14 178 238 / 98%);
    margin-top: 0.9rem;
}

.inmobiliarias_busqueda .box .resumen ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.inmobiliarias_busqueda .secciones .seccion-1{
    flex:2;
    padding: 0rem 0.4rem;
    width: 100%;
}

.inmobiliarias_busqueda .secciones .seccion-1 .maps iframe{
    margin: 0 auto;
    width: 100%;
}

.inmobiliarias_busqueda .secciones .seccion-2{
    flex: 1;
    border-radius: 1rem;
    padding: 0rem;
    width: 100%;
}

.inmobiliarias_busqueda .secciones .seccion-2 p{
    margin-top: 0.9rem !important;
    margin-bottom: 2rem !important;
}



#resumen-caja{
    background-color: #ffbf00;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

@media (max-width:760px){
    .inmobiliarias_busqueda h2.h2-1{    
        font-size:2.5rem;
        text-align: center;
    }

    .inmobiliarias_busqueda .secciones{
        flex-direction:column;
        align-items: center;
    }

    .inmobiliarias_busqueda .secciones .seccion-2{
        margin:1rem;
    }

    #resumen-caja{
        height: unset;
    }
}

.d-resumen{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin:0rem;
    align-items: center;
    border-bottom: 1px solid rgb(0 0 0 / .3);
    padding-bottom: 0.9rem;
    font-size:1.6rem;
}

.seccion_tabla{
    margin:1.5rem;
}

.seccion_tabla .contenedor-inmobiliaria{
    padding: 0.9rem;
    margin:0rem !important;
    border:none !important;
}

.seccion_tabla .listado_inmobiliarias .home{
    display: flex;
    gap: 2rem;
    border: 1px solid rgb(81 53 53 / 27%);
    padding: 0rem;
    align-items:flex-end;
    border-radius: .9rem;
    margin-bottom: 3rem;
}

.seccion_tabla .listado_inmobiliarias .home .img > img{
    border-radius: 0.9rem 0rem 0rem 0.9rem;
}

.seccion_tabla .listado_inmobiliarias .home .descripcion{
    width: 100%;
    height: 32rem;
    padding: 0rem 1.9rem 0rem 0rem;
}

.seccion_tabla .listado_inmobiliarias .home .descripcion h3{
    text-transform: capitalize;
    border-bottom: 1px solid rgb( 0 0 0 / 0.3);
    font-size: 2.3rem;
}

.seccion_tabla .listado_inmobiliarias .home .descripcion .info .info_heading{
    color:rgb(0 0 0 / 43%);
}

.seccion_tabla .listado_inmobiliarias .home .descripcion .info .info_parrafo{
    padding-left: 2rem;
}

.boton-mapa{
    width: 15rem;
    height: 3rem;
    border: none;
    background-color: #f9891b;
    color: rgb(255, 255, 255);
    transition: background-color 360ms ease-in;
}

.boton-mapa:hover{
    background-color: #f98a1bb1;
}

.seccion_tabla .listado_inmobiliarias .home .descripcion ol{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.seccion_tabla .listado_inmobiliarias .home .descripcion ol > li{
    display: flex;
    align-items: center;
    gap:2rem;

}

.seccion_tabla .listado_inmobiliarias .home .descripcion ol > li > p{
    display: flex;
    gap:1rem;
}

.seccion_tabla .listado_inmobiliarias .home .descripcion ol > li > p > span{
    font-weight: bold;
}

span{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}


/* decorar mensaje */
.mensaje_alterno{
    background-color: #ffc10726;
    padding: 0.9rem 0rem 0.5rem 2.4rem;
}

.mensaje_alterno p{
    font-size:2.5rem;
    font-weight: lighter;
}

/* footer */
.buscar footer{
    margin:0rem;
}