button{
    border-radius: .5rem;
    width: 3.5rem;
}

td{
    height: 5rem;
}

.buscar .cabecera_titulo h1{
    margin:0rem;
    text-transform:capitalize;
}

@media (max-width: 405px) {
    .buscar.contenedor {
        width:unset  !important;
    }
}

.inmobiliarias_busqueda h2.h2-1{
    padding:4rem 0rem .9rem 1rem !important;
    font-size: 3.5rem;
    text-transform: capitalize;
}


.inmobiliarias_busqueda h2.tl{
    font-size:3.5rem;
    padding:3rem 0rem 1rem 0rem;
}

.inmobiliarias_busqueda .secciones{
    display:flex;
    gap:1rem;
    align-items: center;
    margin:.5rem;
}


.inmobiliarias_busqueda .secciones .seccion-1{
    flex:1;
    padding: 0rem 0.4rem;
    width: 100%;
}

.inmobiliarias_busqueda .secciones .seccion-1 .maps iframe{
    margin: 0 auto;
    width: 100%;
}

.inmobiliarias_busqueda .secciones .seccion-2{
    flex: 0;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0rem;
    width: 100%;
}

.inmobiliarias_busqueda .secciones .seccion-2 p{
    margin-top: 0.9rem !important;
    margin-bottom: 2rem !important;
}

@media (max-width:760px){
    .inmobiliarias_busqueda h2.h2-1{    
        font-size:2.5rem;
        text-align: center;
    }

    .inmobiliarias_busqueda .secciones{
        flex-direction:column;
    }

}

#resumen-caja{
    background-color: #ffbf00;
    padding: 1rem;
    width: 100%;
}

.d-resumen{
    display: flex;
    justify-content: space-between;
}

.seccion_tabla{
    margin:1.5rem;
}


.seccion_tabla .contenedor-inmobiliaria{
    border: 1px solid rgb(0 0 0 / .2);
    padding: 0.9rem;
    margin:0rem !important;
}

.seccion_tabla .listado-inmobiliarias{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3rem;
    margin:1rem 0rem 0rem 0rem;
}

.seccion_tabla .listado-inmobiliarias li{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.seccion_tabla .listado-inmobiliarias li > p{
    font-weight: bold;
    font-size:1.5rem;
}


.seccion_tabla .listado-inmobiliarias li > p > span{
    font-weight: lighter;
}

/* Estilos para nuestra tabla */
.barrios-listado table{
    display: none;
}

